<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eat that thumbnail bitch</title>
    <link rel="stylesheet" href="{{ app.request.basepath }}/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>